html {
 font-smoothing:antialiased
}

body,html {
 height:100%
}

body {
 font-family:Open Sans,Helvetica Neue,Arial;
 color:#576071;
 font-size:18px;
 margin:0
}

main {
 display:block
}

.question {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
    border-bottom: 1px solid #dcdcdc;
}

.statement {
    color: #576071;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;

}

#title {
  background-color:  #56ac8a;
  padding-top: 300px;
  padding-bottom: 200px;
}

.option.med {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
  }

.option.med span {
      font-size: 1em;
  }

.option span {
      color: transparent;
  }

.options {
      flex: 0 0 500px;
  }

.decision {
      margin: 30px 0 20px;
  }

.decision {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0 15px;
  }

.option.agree {
      border: 2px solid #56ac8a;
      flex: 0 0 25px;
      max-width: 25px;
      height: 25px;
  }

.agree.active, .option.agree:hover {
      background-color: #56ac8a;
  }

.neutral.active, .option.neutral:hover {
      background-color: #9b9faa;
  }

.disagree.active, .option.disagree:hover {
      background-color: #5f394d;
  }


.far {
      font-weight: 400;
  }

.fal, .far {
      font-family: Font Awesome 5 Pro;
  }

.fa, .fab, .fal, .far, .fas {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
  }

  *, ::after, ::before {
      box-sizing: border-box;
  }

.option {
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option.neutral {
    border: 2px solid #9b9faa;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
    flex: 0 0 25px;
    max-width: 25px;
    height: 25px;
}

.option.disagree {
    border: 2px solid #5f394d;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
    flex: 0 0 25px;
    max-width: 25px;
    height: 25px;
}

.option.min {
    flex: 0 0 28px;
    max-width: 28px;
    height: 28px;
}

.option.med {
    flex: 0 0 35px;
    max-width: 35px;
    height: 35px;
}

.option.max {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
}



.options {
    flex: 0 0 400px;
    margin: 0 30px;
}

.options {
    flex: 0 0 100%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    flex: 0 0 400px;
    margin: 0 30px;
}

.caption {
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
}

.caption.agree {
    color: #56ac8a;
}

.caption.disagree {
    color: #5f394d;
}


.btn {
	margin: 0 20px 0 20px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.bottom {
  margin-top: 100px;
	margin-bottom: 100px;
}

.fa-check::before {
    content: "\F00C";
}
/*


.btn-agree {
	color: #89d298;
}

.btn-agree.active,
.btn-agree:active,
.btn-agree:focus,
.btn-agree:active:focus,
.btn-agree.active:focus,
.btn-agree:hover {
	background-color: rgba(137, 210, 152, 0.5);
}


.btn-disagree {
	color: #e28181;
}

.btn-disagree.active,
.btn-disagree:active,
.btn-disagree:focus,
.btn-disagree:active:focus,
.btn-disagree.active:focus,
.btn-disagree:hover {
	background-color: rgba(226, 129, 129, 0.5);
}

.strong {
	font-weight: bold;
}

*/