@media (min-width: 1200px) {
    .container {
        /* max-width: 970px; */
        max-width: 100%;
    }
    }
    @media (min-width:400px){
    .global-search {
    padding: 20px 0;
    text-align:center;
    }
    .global-search {
    text-align:center;
    padding:10px;
    }
    .global-search .form-control {
    width:500px;
    }
    .global-search * {
    display:inline-block;
    margin-bottom:0;
    }
    }
    .topcorner{
    position:absolute;
    top:2%;
    right:2%;
    }
    .btn{
    background-color: #222025;
    border: none;
    box-shadow: #222025 0px 0px 10px;
    }
    .step-links a{
    color: #4285F4;
    }
    .choices {
        width: 14%;
        margin: 0%;
        padding: 0%;
        float: left;
    }
    .Question{
        width: 100%;
    }
    label{
        font-weight: normal ;
    }
    .form-check-label{
        font-weight: normal !important;
    }
    
html {
 font-smoothing:antialiased
}

body,html {
 height:100%
}

body {
 font-family:Open Sans,Helvetica Neue,Arial;
 color:#576071;
 font-size:18px;
 margin:0;
/* background-image: url("../static/img/bg_img.jpeg");*/
}
main {
 display:block
}

#bigfivediscription{
  width: 50%;
  margin-left: 25%; 
  color:black;
}

.smalltext{
font-size: 12px;
font-weight: 200px !important;
}

#bigfivetitle{
  text-align: center;
}

#bigfiveexplaination{
  font-size: 12px;
  width: 80%;
  margin-left: 10%;
}
img{
  max-width: 100%;
}

#myListofchoices{
  width: 40%;
  margin-left: 30%;
}
.characterpicture{
  width: 250px;
}
.select-css::-ms-expand {
  display: none;
}
.select-css:hover {
  border-color: #888;
}
.select-css:focus {
  border-color: #aaa;
  box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
  box-shadow: 0 0 0 3px -moz-mac-focusring;
  color: #222; 
  outline: none;
}
.select-css option {
  font-weight:normal;
}

#myListofchoices{
  color: #5f394d;
}

.form-group{
  width: 40%;
  margin-left: 30%;
  color: #576071;
  font-weight: 600 ;
  text-align: center;
  line-height: 1.5;
  font-family: Open Sans,Helvetica Neue,Arial;
  font-size: 18px;
}

.form-control{
  width: 50% !important;
  margin-left: 25%;
  
}



.short_paragraph{
  width: 50%;
  text-align: center !important;
  margin-left:  25%;
  text-align: left;

  float: left;
  font-weight: normal !important;
  font-size: 16px;
}

.short-form-control{
  float: left;
}

.similar_character_info{
  margin-left: 10%;
  width: 80% !important;
  float: left;
}

.question {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 35px;
    padding-right: 35px;
}

.statement {
    color: #576071;
    font-weight: 600;
    text-align: center;
    line-height: 1.5;

}

#title {
/*  width: 100%
*/  background-image: url("../static/img/bg.png");
  background-repeat: no-repeat;
  padding-top: 200px;
  padding-bottom: 120px;
  box-shadow:black 0px 0px 10px;
}

.option.med {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
  }

.option.med span {
      font-size: 1em;
  }

.option span {
      color: transparent;
  }

.options {
      flex: 0 0 500px;
  }

.decision {
      margin: 30px 0 20px;
  }

.decision {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 30px 0 15px;
  }

.option.agree {
      border: 2px solid #56ac8a;
      flex: 0 0 25px;
      max-width: 25px;
      height: 25px;
  }

.agree.active, .option.agree:hover {
      background-color: #56ac8a;
  }

.neutral.active, .option.neutral:hover {
      background-color: #9b9faa;
  }

.disagree.active, .option.disagree:hover {
      background-color: #5f394d;
  }


.far {
      font-weight: 400;
  }

.fal, .far {
      font-family: Font Awesome 5 Pro;
  }

.fa, .fab, .fal, .far, .fas {
      display: inline-block;
      font-style: normal;
      font-variant: normal;
      text-rendering: auto;
      line-height: 1;
  }

  *, ::after, ::before {
      box-sizing: border-box;
  }

.autocomplete{
  margin-left: 30%;
}

.option {
    border-radius: 50%;
    cursor: pointer;
    transition: all .1s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option.neutral {
    border: 2px solid #9b9faa;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
    flex: 0 0 25px;
    max-width: 25px;
    height: 25px;
}

.option.disagree {
    border: 2px solid #5f394d;
        border-top-width: 2px;
        border-right-width: 2px;
        border-bottom-width: 2px;
        border-left-width: 2px;
    flex: 0 0 25px;
    max-width: 25px;
    height: 25px;
}

.option.min {
    flex: 0 0 28px;
    max-width: 28px;
    height: 28px;
}

.option.med {
    flex: 0 0 35px;
    max-width: 35px;
    height: 35px;
}

.option.max {
    flex: 0 0 45px;
    max-width: 45px;
    height: 45px;
}


.options {
    flex: 0 0 400px;
    margin: 0 30px;
}

.options {
    flex: 0 0 100%;
    margin: 0 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.options {
    flex: 0 0 400px;
    margin: 0 30px;
}

.caption {
    font-weight: 600;
    font-size: .8em;
    text-transform: uppercase;
}

.caption.agree {
    color: #56ac8a;
}

.caption.disagree {
    color: #5f394d;
}

/*.radar {
    padding-top: 20px;
    padding-bottom: 50px;
    width: 350px;
    height: 300px;
}*/

.btn {
	margin: 0 20px 0 20px;
}

.hide {
	display: none;
}

.show {
	display: block;
}

.bottom {
  margin-top: 100px;
	margin-bottom: 100px;
}

.fa-check::before {
    content: "\F00C";
}

    