<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Who are you on Screen?</title>

    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		  <link rel="stylesheet" type="text/css" href="../static/main.css"/>
		  <link rel="stylesheet" type="text/css" href="../static/index.css"/>
		  <link rel="shortcut icon" href="../static/favicon.ico">
      <script type="text/javascript" src="../static/scripts/main.js"></script>
	  
    </head>

	<body>
        <!-- <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div> -->
        <div id="title", class="text-center">
          <h1 class="container", style="font-size: 40px; font-family:Futura; color: white">Who Are You on Screen</h1>
          <h2 class="container", style="font-size: 15px; font-family:Futura; color: white">Fictional Characters Match-Up</h2>
		  <div id="choice", class="container">
			<button id="test-btn" class="btn btn-primary btn-lg" >Basic</button>
			<button id="beh-btn" class="btn btn-primary btn-lg">Advanced</button>
			</div>
        </div>

<!--            <br><br>
		<div class="container">
		<style type="text/css">
			.my_content_container a {
				border-bottom: 1px solid #777777;
    border-left: 1px solid #000000;
    border-right: 1px solid #333333;
    border-top: 1px solid #000000;
    color: #000000;
    display: block;
    height: 2.5em;
    padding: 0 1em;
    width: 5em;       
    text-decoration: none;       
}
// :hover and :active styles left as an exercise for the reader.
</style>

<div class="my_content_container">
    <a href="/my/link/location/">Go to my link location</a>
</div>

		</div>-->
		<div class="container text-center footer" style="font-size: 10px">
            <p>&copy; 2019 | Yuntian Lan (yl653), Jasmine Wu (yw644), Yifan Jia (yj77), Megan Zhou (xz494), Jianda Liu (jl3726)</p>
        </div>
	</body>
</html>