<html>
    <head>
        <link rel="stylesheet" href="/static/bootstrap.min.css">
        <link rel="stylesheet" href="/static/main.css">
    </head>
    <body>
        <div class="topcorner">
            <p>Project Name: {{ name }}</p>
            <p>Student Name: ({{ netid }})</p>
        </div>
        <form class="form-inline global-search">
            <h1 style="font-size: 55px; font-family:Futura; color: #4285F4">
                C
                <font color=#EA4335>S</font>
                <font color=#FBBC05>4</font>
                3
                <font color=#34A853>0</font>
                <font color=#EA4335>0</font>
            </h1>
            
            
            <br><br>
            
            <!-- <div class="form-group">
                <input id="input" type="text" name="search" class="form-control" placeholder="Your Input">
            </div> -->
            <div class="Question"><b>Question One: I see myself as extraverted, enthusiastic</b></div>
            <br>
<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        <i>Agree Strongly</i> 
        <!--normal font, unimportant-->
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Neither Agree Nor Disagree
        <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Disagree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Disagree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionOne" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>

<br>
<br>
<br>
<div class="Question">
<b>Question Two: I see myself as critical, quarrelsome</b>

</div>
<br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionTwo" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>

  <br>
  <br>
  <br>
  
  <div class="Question">
  <b>Question Three: I see myself as dependable, self-disciplined</b>
</div>
<br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree
                <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionThree" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>

  <br>
  <br>
  <br>

  <div class="Question">
  <b>Question Four: I see myself as anxious, easily upset</b></div>
  <br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionFour" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>

  <br>
  <br>
  <br>

  <div class="Question">

  <b>Question Five: I see myself as open to new experiences, complex</b>
</div>

<br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionFive" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>
  <br>
  <br>
  <br>
  <div class="Question">

  <b>Question Six: I see myself as reserved, quiet</b>
</div>
<br>


<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionSix" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>
  <br>
  <br>
  <br>
  <div class="Question">

  <b>Question Seven: I see myself as sympathetic, warm</b>
</div>
<br>


<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionSeven" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>
  <br>
  <br>
  <br>
  <div class="Question">

  <b>Question Eight: I see myself as disorganized, careless</b>
  </div>
  <br>


<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionEight" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>
  <br>
  <br>
  <br>
  <div class="Question">

  <b>Question Nine: I see myself as calm, emotioanlly stable</b>
  </div>
  <br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionNine" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>
  <br>
  <br>
  <br>
  <div class="Question">

  <b>Question Ten: I see myself as conventional, uncreative</b>
  </div>
  <br>

<div class="form-check">
    <div class="choices">
    <label class="form-check-label" for="exampleRadios1">
        Agree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=7 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
        Agree Moderately
    <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=6 checked>
    </label>
    </div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios3">
        Agree A Little
    <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=5 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Neither Agree Nor Disagree    <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=4 checked>
    </label>
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree A Little
            <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=3 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Moderately
            <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=2 checked>
    </label> 
</div>

    <div class="choices">
    <label class="form-check-label" for="exampleRadios2">
            Disagree Strongly
    <br>    
    <input class="form-check-input" type="radio" name="questionTen" id="exampleRadios1" value=1 checked>
    </label>
</div>
  </div>


            <button type="submit" class="btn btn-info"> Go! </button>
        </form>
        <form class="form-inline global-search">
        {% if output_message %}
            <h1>{{output_message}}</h1>
        {% endif %}
        </form>
    </body>

</html>
