<!DOCTYPE html>
<html>
    <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <title>Who are you on Screen?</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	  <link rel="stylesheet" type="text/css" href="../static/main.css" media="all" />
	  <link rel="stylesheet" type="text/css" href="../static/easy-autocomplete.min.css"> 
	  <link rel="shortcut icon" href="../static/favicon.ico">
	</head>

	<!-- <div class="similar_character_info">
        <div class="short_paragraph"><p> Name of the movie/TV: </p></div>
    		<input type="text" class="short-form-control" id="moviename" placeholder="movie/TV name"  list="json-movielist" required>
    	<datalist id="json-movielist"></datalist>
      </div>
        <div class="similar_character_info">
        <div class="short_paragraph"><p> Name of the character: </p></div>
        <input type="text" class="short-form-control" id="charactername" placeholder="character name" required list="json-characterlist">
        <datalist id="json-characterlist"></datalist>
  		</div> -->

  		<label for="ajax">Pick an HTML Element (options loaded using AJAX)</label>
  <input type="text"   placeholder="e.g. datalist" id="basics" />
  <datalist id="json-datalist"></datalist>

  		<script type="text/javascript" src="../static/scripts/tryout.js"></script>
  		<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
  		<script type="text/javascript" src="../static/scripts/jquery.easy-autocomplete.min.js"></script> 


 </html>